{% extends 'base.twig' %}

{% block body %}
	<div class="city-container">
		{% if message %}
			<p>{{ message }}</p>
		{% else %}

			<a href="/meteo/{{ city.id }}" class="card-dash-theme">
				<p>Nom :
					{{ city.cityName }}</p>
				<p>Latitude :
					{{ city.lat }}</p>
				<p>Longitude :
					{{ city.lon }}</p>
			</a>

		</div>
	{% endif %}

{% endblock %}
